

body{
  font-family: roboto,Arial;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
}
.header{
display:flex;
padding:30px 30px;
background-color: hsl(180, 100%, 97%);
position: fixed;
right: 0%;
left:0%;
top:0%;
justify-content:space-around;
align-items: center;
z-index: 4;
}
@media(max-width:1200px){
  .header{
    display:flex;
    padding:30px 30px;
    background-color: hsl(180, 100%, 97%);
    position: fixed;
    right: 0%;
    left:0%;
    top:0%;
    justify-content:space-between;
    align-items: center;
    z-index: 4;
    }
  .header img,.header p{
    margin-right:10px;
  }
}
.bottom{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: hsl(33, 100%, 88%);
  }
  .bottom div, .bottom div div, .bottom div div div{
    flex:1;
  }
.last{
text-align: center;
color: hsl(0, 1%, 29%);
margin-top: 0cap;
}
.comp{
  display:grid;
  grid-template-columns: 1fr 1fr;
}

.slider{
  position: relative;
  width: 100%;
  overflow: hidden;
  margin:auto;
}
.slider .move{
width:100%;
display:none;
}
.move.displaySlide{
  display:block;
  animation-name: fade;
  animation-duration:1.5s ;
}
@keyframes fade{
  from {opacity: .5;}
  to{opacity: 1;}
}

